.page-container {
  display: flex;
  flex-direction: row;


}

.side-container {
 flex-grow: 1;
 width: 50%;
 padding: $m-size;
}

.side-container__media {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.side-container__item {

}

.side-container__profilePic {
  border: 2px black solid;
  border-radius: 50%;
  padding: 2px;

}

.side-container__info {
  display: flex;
  flex-direction: column;
}

.side-container__icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 45px 10px 0 0;
  width: 60px;
  height: 250px;
  a {
    color: black;
    transition: color .5s ease-out;
    &:hover {
      color: #ff6a00;
    }
    }

}

.side-container__picName {
  display: flex;
  flex-direction: column;
  padding: 15px;

  img {
    padding: auto auto;
  }
  h2 {
    text-align: center;
  }
}

.vl {
  width: 5px;
  height: 500px;
  background: black;
  border-radius: 25%;
  border: 2px solid black;
  margin-top: 10px;
}
